.item-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 0 5px 0;
  margin: 0;
}
.control-button {
  align-self: center;
  font-size: 30px;
}
.glyphicon-plus {
  color: green;
}
.glyphicon-minus {
  color: red;
}
.item-info {
  width:33%;
}
.glyphicon-check {
  color: green;
}
.table-striped{
  width:100%;
  td, th {
    text-align: center;
  }
  tfoot{
    border-top: 2px solid black;
  }
}
